@model MaquinaWeb.Models.Troco
@{
    ViewBag.Title = "Gerador de Troco";

}

@using (Html.BeginForm("CalcularTroco", "Maquina", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-8">
        <h2>Geração de Troco na Máquina</h2>
    </div>
    <div class="col-md-4 tela">
        <div class="col-md-10 col-md-offset-1">
            @Html.LabelFor(troco => troco.Total, "Digite o troco desejado(R$)", new { @class = "labelTroco" })
            @Html.EditorFor(troco => troco.Total, "Digite o valor do Troco", new { htmlAttributes = new { @class = "inputTroco" } })
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 btnCalcular">
        <button class="btn btn-primary" type="submit">Calcular Quantidade de Moedas</button>
    </div>

    <div class="col-md-10 col-md-offset-1 divMoedas">
        @foreach (var moeda in Model.NovasMoedas)
        {
            <div class="col-md-2 moedaEQuant">
                <img src="@Url.Content(moeda.srcImg)" class="moeda" />
                <span class="quantMoeda" id="@Url.Content(moeda.Valor.ToString())"></span>
            </div>
        }
    </div>
}

<div class="modal fade" id="retornoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="col-md-12" style="text-align:center; z-index:2; margin-top:10%">
                <span style="width:100%;font-size:30px; ">Carregando</span>
            </div>
            <div class="col-md-12" style="text-align:center;margin-top:-10%;z-index:1">
                <img src="~/Content/Image/load.gif" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    if ($('#myForm').length) {
        console.log("Cheguei1");
        $('.moedaEQuant').css("display", "none");
        $('#myForm').on('submit', function (e) {
            e.preventDefault();
            let valorTroco = $('.inputTroco').val();
            if (valorTroco <= 0) {
                var erro = "Digite valores maiores que zero.";
                $('.modalBody').html("<span>" + erro + "</span>");
                $('#retornoModal').modal('show');
            }
            else {
                console.log("Valor= " + $('.inputTroco').val());
                $('#loadModal').modal('show');
                $.ajax({
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    dataType: "json",
                    method: $(this).attr("method"),
                    cache: false,
                    success: function (data) {
                        console.log(" Aqui = " + data.Sucesso);
                        if (data.Sucesso == "S") {
                            var quantidades = "";
                            $('#1').text(data.Valores[0]);
                            $('#5').text(data.Valores[1]);
                            $('#10').text(data.Valores[2]);
                            $('#25').text(data.Valores[3]);
                            $('#50').text(data.Valores[4]);
                            $('#100').text(data.Valores[5]);
                            $('.moedaEQuant').css("display", "block");
                            $('.modalBody').html("<span>" + data.Mensagem + "</span>");
                            console.log("Val = ", data.Valores);
                        }
                        else $('.modalBody').html("<span>" + data.Mensagem + "</span>");
                        $('#loadModal').modal('hide');
                        $('#retornoModal').modal('show');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    }
                });
            }

        });
    }




</script>




















