@model MaquinaWeb.Models.Troco
@{
    ViewBag.Title = "Sangria";

}


<div class="col-md-8">
    <h2>Retirar Moedas</h2>
</div>
<div class="col-md-12 title2">
    <h2>Moedas na Máquina</h2>
</div>

<div class="col-md-10 col-md-offset-1">
    @foreach (var moeda in Model.Moedas)
    {
        <div class="col-md-2 moedaEQuant">
            <img src="@Url.Content(moeda.srcImg)" class="moedaAbastece" />
            <span class="quantMoeda" id="@Url.Content(moeda.Valor.ToString())">@moeda.Quantidade</span>
        </div>
    }

</div>

<div class="col-md-12 title2">
    <h2>Quantidade a ser retirada</h2>
</div>

<div id="Loading" style="display: none;">
    <h2>Tá carregando</h2>
</div>

@using (Html.BeginForm("Retirar", "Maquina", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10 col-md-offset-1">
        @for (int i = 0; i < Model.NovasMoedas.Count; i++)
        {
            <div class="col-md-2 moedaEQuant" id="@Url.Content(Model.NovasMoedas[i].Valor.ToString())">
                <img src="@Url.Content(Model.NovasMoedas[i].srcImg)" class="moedaAbastece" />
                @Html.EditorFor(troco => troco.NovasMoedas[i].Quantidade, new { htmlAttributes = new { @class = "quantNovaMoeda " + Model.NovasMoedas[i].Valor } })
            </div>
        }
    </div>
    <div class="col-md-8 col-md-offset-2 btnAbastecer">
        <button class="btn btn-primary" type="submit">Retirar Moedas</button>
    </div>
}

<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="col-md-12" style="text-align:center; z-index:2; margin-top:10%">
                <span style="width:100%;font-size:30px; ">Carregando</span>
            </div>
            <div class="col-md-12" style="text-align:center;margin-top:-10%;z-index:1">
                <img src="~/Content/Image/load.gif" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="retornoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    if ($('#myForm').length) {
        console.log("Cheguei1");
        $('.moedaEQuant').css("display", "block");
        $('#myForm').on('submit', function (e) {
            let trava = 0;
            e.preventDefault();
            let valoresNovos = new Array();
            valoresNovos.push($('.1').val());
            valoresNovos.push($('.5').val());
            valoresNovos.push($('.10').val());
            valoresNovos.push($('.25').val());
            valoresNovos.push($('.50').val());
            valoresNovos.push($('.100').val());
            console.log("Valores = " + valoresNovos);

            let valoresAntigos = new Array();
            valoresAntigos.push(Number($('#1').text()));
            valoresAntigos.push(Number($('#5').text()));
            valoresAntigos.push(Number($('#10').text()));
            valoresAntigos.push(Number($('#25').text()));
            valoresAntigos.push(Number($('#50').text()));
            valoresAntigos.push(Number($('#100').text()));
            console.log("Valores = " + valoresAntigos);
            var mensagem = "";
            let soma = 0;
            //Valor menor que 0 ou maior que o número de moedas disponíveis
            for (let i = 0; i < valoresNovos.length; i++) {
                console.log(valoresNovos[i] + " > " + valoresAntigos[i]);
                if (valoresNovos[i] > valoresAntigos[i] || valoresNovos[i] < 0) {
                    mensagem = "Quantidade Inválida";
                    console.log("Entrei");
                    trava = 1;
                }
                soma += valoresNovos[i];
            }
            if (soma == 0 && trava != 1) {
                mensagem = "Pelo menos a quantidade de uma moeda é necessária para a retirada";
                trava = 1;
            }
            if (trava == 0) {
                $('#loadModal').modal('show');
                $.ajax({
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    dataType: "json",
                    method: $(this).attr("method"),
                    cache: false,
                    success: function (data) {
                        console.log(" Aqui = " + data.Sucesso);
                        if (data.Sucesso == "S") {
                            var quantidades = "";
                            console.log("Val = " + data.Valores);
                            $('#1').text(data.Valores[0]);
                            $('#5').text(data.Valores[1]);
                            $('#10').text(data.Valores[2]);
                            $('#25').text(data.Valores[3]);
                            $('#50').text(data.Valores[4]);
                            $('#100').text(data.Valores[5]);

                            $('.modalBody').html("<span>" + data.Mensagem + "</span>");
                            console.log("Val = ", data.Valores);
                        }
                        else $('.modalBody').html("<span>" + data.Mensagem + "</span>");
                        $('#loadModal').modal('hide');
                        $('#retornoModal').modal('show');
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR);
                    }
                });
            }
            else {
                $('.modalBody').html("<span>" + mensagem + "</span>");
                $('#retornoModal').modal('show');
            }
        });
    }


</script>

